<div class="container-fluid card1 ">
    <div class="row justify-content-center  education">
        <h2 class="text-center"><i class="fa-solid fa-school"></i> Experience & Education Details</h2>

        <div class="col-md-3">
            <div class="card h-100" style="width: 18rem;">
                <img src="assets/image_.jpg" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title"> Trainee and Associate Software Engineer</h5>
                    <p class="card-text flex-grow-1">Bigtapp Analytics</p>
                    <p> Trainee duration: Mar 2022 - Sep 2022</p>
                    <p>Associate Software Engineer duration: Sep 2022 - Jul 2023</p>

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card h-100" style="width: 18rem;">
                <img src="assets/ug.jpg" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title ">Master Of Computer Application-[MCA]</h5>
                    <p class="card-text flex-grow-1">College Name: Vellore Institute Of technology-[VIT]</p>
                    <p>duration: 2020-2022</p>
                    <p>CGPA:7.21</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card h-100" style="width: 18rem;">
                <img src="assets/pg.jpg" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Bachelor Of Computer Application-[BCA]</h5>
                    <p class="card-text flex-grow-1">College Name: Vellore Institute Of technology-[VIT]</p>
                    <p>duration: 2016-2019</p>
                    <p>CGPA:6.41</p>
                </div>
            </div>
        </div>

    </div>
</div>