.pannel {
    /* background: linear-gradient(to bottom, #465b70, #ecf0f1); */
    background-color: transparent;
    border: 2px solid white;
}

.pannelmain {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}