<div class="container-fluid">

    <div class="row ">
        <header class="col header">
            <div class="row">
                <div class="col-md-10">
                    <i class="fa-solid fs-4 fa-address-card"></i>&nbsp; <span class="fs-4 text-primary">AJ</span>Portfolio
                </div>
                <div class="col d-flex gap-4">
                    <a href="#home" class="nav-link" id="active-home"><i class="fa-solid fa-house"></i>Home</a>
                    <a href="#about" class="nav-link" id="active-about"><i class="fa-solid fa-circle-info"></i>About</a>
                    <a href="#service" class="nav-link" id="active-service"><i class="fa-solid fa-computer"></i>Service</a>
                    <!-- <a href="#contact" class="nav-link" id="active-contact"><i class="fa-solid fa-address-book"></i>Contact</a> -->
                </div>
            </div>
        </header>
    </div>


    <main class="main">
        <app-rating></app-rating>

        <section id="home" #homeSection>
            <app-home></app-home>
            <app-skillset></app-skillset>
        </section>
        <section id="about" #aboutSection>

            <app-education></app-education>





        </section>
        <section id="service" #serviceSection>
            <app-projects></app-projects>

            <app-serviceprovided></app-serviceprovided>
        </section>





    </main><br>
    <footer class="footer">

        <div class="row" id="contact" #contactSection>
            <div class="col-md-6">
                <h2> <i class="fa-solid fa-address-book"></i>Contact</h2>
                <div class="contact d-flex flex-wrap gap-3">
                    <a href="https://www.linkedin.com/in/ajith-r-8a413617b"><i class="fa-brands fa-linkedin"></i>Linkedin</a>
                    <a><i class="fa-solid fa-envelope"></i>ajith98ra@gmail.com</a>
                    <a><i class="fa-solid fa-phone"></i>+91-8870360992</a>
                </div><br>

                <p><i class="fa-solid fa-copyright"></i>All content and materials on this website, including but not limited to text, images, graphics, logos, videos, code, are the intellectual property of Ajith R and protected by international copyright
                    laws. No part of this website may be reproduced, distributed, or transmitted in any form or by any means, without the prior written permission of Ajith R. unauthorized use or reproduction of any content from this website is strictly
                    prohibited and may resultin legal action. FOr inquiries regarding the use or licensing of any materil on this website, please contact ajith98ra@gmail.com . Ajith R 2023 All Rights Reserved</p>
            </div>
            <div class="col-md-6">
                <h2><i class="fa-solid fa-handshake"></i>Keep in touch</h2>
                <h3 class="text-success text-success" *ngIf=" isdisplay"> <i class="fa-solid fa-circle-check"></i>thank you {{name}} ! will get back to you</h3>
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

                    <div class="row">
                        <div class="col-md-6">
                            <input type="email" class="form-control" formControlName="firstName" placeholder="name">
                            <p class="text-danger" *ngIf="myForm.get('firstName')?.invalid && myForm.get('firstName')?.touched">
                                enter name
                            </p>

                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
                            <p class="text-danger" *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">enter mail</p>
                        </div>
                        <div class="col-md-12"><br>
                            <textarea class="form-control" placeholder="Leave a comment here" formControlName="comments"></textarea>
                            <p class="text-danger" *ngIf="myForm.get('comments')?.invalid && myForm.get('comments')?.touched"> enter comment</p>
                        </div>

                    </div><br>
                    <div class="col justify-content-center">
                        <button type="submit" class="btn btn-primary text-black ">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </footer>

    <app-scroll-top></app-scroll-top>

</div>