<div class="galaxy">
    <div class="star" *ngFor="let star of stars" [ngStyle]="star.style"></div>
</div>

<div class="container-fluid snowflake">
    <ng-template [ngIf]="loading">
        <div class="loader-container">
            <!-- Replace this with your loading animation or spinner -->
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-success" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </ng-template>

    <div class="main-content" *ngIf="!loading">

        <div class="row ">
            <header class="col header">
                <div class="row">
                    <div class="col-md-10">
                        <i class="fa-solid fs-4 fa-address-card text-primary"></i>&nbsp; <span class="fs-4 text-primary">AJ</span> &nbsp;Portfolio
                    </div>
                    <div class="col d-flex gap-4">
                        <a href="#home" class="nav-link" id="active-home"><i class="fa-solid fa-house"></i>Home</a>
                        <a href="#about" class="nav-link" id="active-about"><i class="fa-solid fa-circle-info"></i>About</a>
                        <a href="#service" class="nav-link" id="active-service"><i class="fa-solid fa-computer"></i>Service</a>
                        <!-- <a href="#contact" class="nav-link" id="active-contact"><i class="fa-solid fa-address-book"></i>Contact</a> -->
                    </div>
                </div>
            </header>
        </div>


        <main class="main">
            <app-rating></app-rating>

            <section id="home" #homeSection>
                <app-home></app-home>
                <app-skillset></app-skillset>
            </section>
            <section id="about" #aboutSection>

                <app-education></app-education>





            </section><br>
            <section id="service" #serviceSection>
                <app-projects></app-projects>

                <app-serviceprovided></app-serviceprovided>
            </section>





        </main><br>
        <footer class="footer">

            <div class="row" id="contact" #contactSection>
                <div class="col-md-6">
                    <h2> <i class="fa-solid fa-address-book text-primary"></i>&nbsp;Contact</h2>
                    <div class="contact d-flex flex-wrap gap-3">
                        <a matTooltip="Linkedin" href="https://www.linkedin.com/in/ajith-r-8a413617b"><i class="fa-brands fa-linkedin text-primary"></i>&nbsp;Linkedin</a>
                        <a matTooltip="Gmail"><i class="fa-solid fa-envelope text-primary"></i>&nbsp;ajith98ra@gmail.com</a>
                        <a matTooltip="Mobile Number"><i class="fa-solid fa-phone text-primary"></i>&nbsp;+91-8870360992</a>
                    </div><br>

                    <p><i class="fa-solid fa-copyright text-primary"></i>All content and materials on this website, including but not limited to text, images, graphics, logos, videos, code, are the intellectual property of Ajith R and protected by international
                        copyright laws. No part of this website may be reproduced, distributed, or transmitted in any form or by any means, without the prior written permission of Ajith R. unauthorized use or reproduction of any content from this website
                        is strictly prohibited and may resultin legal action. FOr inquiries regarding the use or licensing of any materil on this website, please contact ajith98ra@gmail.com . Ajith R 2023 All Rights Reserved</p>
                </div>
                <div class="col-md-6">
                    <h2><i class="fa-solid fa-handshake text-primary"></i>&nbsp;Keep in touch</h2>
                    <h3 class="text-success text-success" *ngIf=" isdisplay"> <i class="fa-solid fa-circle-check"></i>thank you {{name}} ! will get back to you</h3>
                    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control text-white" formControlName="firstName" placeholder="name">
                                <p class="text-danger" *ngIf="myForm.get('firstName')?.invalid && myForm.get('firstName')?.touched">
                                    name should not be empty
                                </p>

                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control text-white" formControlName="email" placeholder="name@example.com">
                                <p class="text-danger" *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">email should not be empty</p>
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control text-white" placeholder="Leave a comment here" formControlName="comments"></textarea>
                                <p class="text-danger" *ngIf="myForm.get('comments')?.invalid && myForm.get('comments')?.touched">comment should not be empty</p>
                            </div>

                        </div><br>
                        <div class="row">


                            <div class="col d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary  ">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </footer>

        <app-scroll-top></app-scroll-top>
    </div>

</div>