<div class="container-fluid">
    <!-- <div class="row card d-flex">
        <div class="col-md-6">
            <img [src]="currentImage" alt="Slide">
        </div>
        <div class="col">
            <div class="service-item">
                <h3>Website Design</h3>
                <p>Create visually appealing and user-friendly website designs tailored to your needs.</p>
            </div>

        </div>
    </div> -->

    <div class="row service p-5">
        <h1 class="text-center text-white"><i class="fa-solid fa-laptop-file text-primary "></i>&nbsp;Service</h1>
        <div class="p-1  col-md-6 card">
            <img [src]="currentImage" alt="Slide">
        </div>
        <div class="col-md-6 card details">

            <h3> <i class="fa-solid fa-list text-primary"></i> &nbsp;Website Design</h3>
            <p>Create visually appealing and user-friendly website designs tailored to your needs.</p>
            <h3> <i class="fa-solid fa-list text-primary"></i>&nbsp;Frontend Development</h3>
            <p>Expertise in HTML, CSS, JavaScript, Angular, and other frontend technologies.</p>
            <h3> <i class="fa-solid fa-list text-primary"></i>&nbsp;Responsive Design</h3>
            <p>Build websites that work seamlessly across various devices and screen sizes.</p>
        </div>
    </div>
</div>