/* body {
    overflow-x: hidden;
    background: linear-gradient(to bottom, #e9edf2, #cbc8c2);
} */


/* 
/* body {
    background-color: #1E1E1E;
   
} */


/* 
body {
    background-color: black;
    overflow-x: hidden;
} */


/* body {
    background-color: black;
    overflow-x: hidden;
} */


/* .snowflake {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    animation: snowfall linear infinite;
}

@keyframes snowfall {
    0% {
        transform: translateY(-10px) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
    } */


/* } */


/* body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
} */

body {
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    background-color: black;
    /* overflow: hidden; */
}